/* line 3, desktop.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, desktop.scss */
h1 {
  margin: 0;
}

/* line 7, desktop.scss */
input, textarea {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 9, desktop.scss */
body {
  font-family: "Ubuntu";
  font-size: 16px;
  color: #333;
  background: #FFF;
}

/* line 17, desktop.scss */
.row {
  margin: 0;
}

/* ---------- NAV STYLES ---------*/
@media screen and (max-width: 768px) {
  /* line 26, desktop.scss */
  .navbar-form.filter {
    clear: both;
    position: fixed;
    z-index: 90;
    right: 17px;
    top: -10px;
    left: 100px;
  }

  /* line 35, desktop.scss */
  .navbar-defaut .navbar-nav > li > a {
    content: '';
  }

  /* line 39, desktop.scss */
  .navbar-default .navbar-toggle {
    margin-right: 0;
    border: 0 none;
    float: left;
    margin-top: 10px;
    padding: 10px 0;
  }
  /* line 46, desktop.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #8D8D8D;
  }

  /* line 52, desktop.scss */
  .navbar-brand {
    padding: 15px 5px;
  }
}
/* line 59, desktop.scss */
header {
  position: fixed;
  overflow: hidden;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
}

/* line 66, desktop.scss */
.navbar-brand {
  font-size: 22px;
}

/* line 67, desktop.scss */
.brand-color {
  color: #1ABC9C !important;
  font-weight: bold;
}

/* line 72, desktop.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: #035D99;
}

/* line 79, desktop.scss */
.badge {
  line-height: 1.2;
  margin-left: 5px;
  background: #FFF;
  color: #333;
}

/* -----------END NAV STYLES -----*/
/* ----------- CONTAINER ---------*/
@media screen and (max-width: 768px) {
  /* line 86, desktop.scss */
  .container {
    z-index: 1;
    margin-top: 70px;
  }
}
@media screen and (min-width: 768px) {
  /* line 93, desktop.scss */
  .container {
    z-index: 1000;
    margin-top: 70px;
  }
}
/* ------------ END CONTAINER ----*/
/* --------- DOC STYLES  ---------*/
@media screen and (max-width: 768px) {
  /* line 105, desktop.scss */
  .doc {
    height: inherit;
  }
}
/* line 115, desktop.scss */
.doc {
  position: relative;
  background: #1ABC9C;
  color: #fff;
  margin: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #148f77;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  height: 90px;
}

/* line 128, desktop.scss */
.doc-actions {
  position: absolute;
  display: block;
}
/* line 132, desktop.scss */
.doc-actions.left {
  left: 10px;
  top: 7px;
}
/* line 136, desktop.scss */
.doc-actions.right {
  right: 10px;
  top: 5px;
}
/* line 140, desktop.scss */
.doc-actions span {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 26px;
}

/* line 150, desktop.scss */
.doc-header {
  font-weight: bold;
  font-size: 18px;
}

/* --------- END DOC STYLES  ----*/
