/* line 3, desktop.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, desktop.scss */
h1 {
  margin: 0;
}

/* line 7, desktop.scss */
input, textarea {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 13, desktop.scss */
body {
  background: transparent url("img/bg.jpg") no-repeat 0 0;
  background-size: cover;
  color: #333;
  font-family: "Ubuntu";
  font-size: 16px;
}

/* line 20, desktop.scss */
.row {
  margin: 0;
}

/* line 23, desktop.scss */
.left {
  float: left;
}

/* line 26, desktop.scss */
.right {
  float: right;
}

/* ---------- NAV STYLES ---------*/
/* line 31, desktop.scss */
header {
  position: fixed;
  overflow: hidden;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
}

/* line 38, desktop.scss */
.name > h1 > a {
  font-size: 22px;
}

/* line 41, desktop.scss */
.brand-color {
  color: #80c65e;
  font-weight: bold;
}

/* line 49, desktop.scss */
.top-bar .toggle-topbar.menu-icon {
  right: auto;
  padding-left: 0;
}
/* line 52, desktop.scss */
.top-bar .toggle-topbar.menu-icon a {
  padding-right: 17px;
}
/* line 56, desktop.scss */
.top-bar .name > h1 > a {
  padding: 0 22px;
}

/* line 64, desktop.scss */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 200px;
  background: #333;
  z-index: 2;
  padding: 15px;
  opacity: 1;
  overflow: scroll-y;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
/* line 75, desktop.scss */
.sidebar.ng-hide-remove {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  opacity: 0;
}
/* line 80, desktop.scss */
.sidebar.ng-hide-add, .sidebar.ng-hide-add-active {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

/* line 92, desktop.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #50CEDD;
}

/* line 96, desktop.scss */
.filter {
  position: fixed;
  z-index: 2;
  top: 45px;
}

@media screen and (max-width: 40em) {
  /* line 103, desktop.scss */
  .filter {
    top: 4px;
    z-index: 2;
    left: 73px;
    width: 79%;
  }
}
/* line 114, desktop.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #97E272;
  color: #FFF;
}

/* line 121, desktop.scss */
.badge {
  line-height: 1.2;
  margin-left: 5px;
  background: #FFF;
  color: #333;
}

/* -----------END NAV STYLES -----*/
/* ----------- CONTAINER ---------*/
/* line 129, desktop.scss */
.swipezone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
}

/* line 138, desktop.scss */
.animate {
  width: 200px;
}

/* line 142, desktop.scss */
.container {
  margin-top: 45px;
}

@media screen and (max-width: 40em) {
  /* line 146, desktop.scss */
  .container {
    z-index: 1;
  }
}
/* ------------ END CONTAINER ----*/
/* --------- DOC STYLES  ---------*/
/* line 153, desktop.scss */
.form-control {
  border: 0 none;
  border-radius: 0;
}

/* line 157, desktop.scss */
.navbar-form .form-group {
  display: block;
}

@media screen and (min-width: 40em) {
  /* line 163, desktop.scss */
  .docs-container {
    margin-top: 50px;
  }
}
/* line 169, desktop.scss */
.doc {
  background: rgba(255, 255, 255, 0.5);
  color: #888;
  cursor: pointer;
  margin: 15px;
  padding: 0 10px;
  position: relative;
  line-height: 46px;
}

/* line 178, desktop.scss */
.doc-header {
  color: #666;
}

/* line 181, desktop.scss */
.doc-actions {
  margin: 0 5px;
}
/* line 183, desktop.scss */
.doc-actions .glyphicon:before {
  background: rgba(255, 255, 255, 0.6);
  border: 2px double #FFFFFF;
  color: #aaa;
  display: inline-block;
  padding: 0 1px;
  text-align: center;
}

@media screen and (max-width: 40em) {
  /* line 195, desktop.scss */
  .doc .doc-header {
    display: block;
  }
}
/* line 201, desktop.scss */
.doc-actions span {
  display: inline-block;
  font-size: 26px;
  height: 30px;
  width: 30px;
}

/* line 210, desktop.scss */
.doc-header {
  font-weight: bold;
  font-size: 18px;
}

/* --------- END DOC STYLES  ----*/
