<form>
	<div class="row">
	    <div class="large-10 columns filter">
	          <input type="text" class="form-control" placeholder="Filtrer..." ng-model="searchText">      
	    </div>
	</div>
</form>
<div class="row">
	<div class="docs-container">
		<div class="doc clearfix" ng-repeat="doc in docs | filter:searchText">

			<span class="doc-header ">
				<span>{{ doc.cat }}</span>
			</span>
			<span class="doc-content ">
				<span>{{ doc.desc }}</span>
			</span>
	                <span class="doc-actions right">
	                        <span class="glyphicon glyphicon-pencil edit"></span>
	                </span>
	                <span class="doc-actions right">
	                       <span ng-click="remove(doc, $index)" class="glyphicon glyphicon-remove delete"></span>
	                </span>
		</div>
	</div>
</div>	

